<!doctype html>
<html ng-app='lecture'>
  <head>
  <link rel="stylesheet" type="text/css" href="main.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>

    <header class="container" ng-controller='HeaderController as header'>

      <div class="row">

      <form ng-submit="header.saveBlog()">
      <input class="form-control" placeholder="Title" ng-model="header.form.title">
      <textarea placeholder="Blog Content" class="form-control" ng-model="header.form.description"></textarea>
      <input value="Add" class="btn btn-primary" type="submit"></form>
      </form>

        <div class="col-md-3 blog" ng-repeat="blog in header.data">
            <h4>{{blog.title}}</h4>
            <p>{{blog.description}}</p>

        </div> 
      </div>

    </header>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src='lib/js/lecture.js'></script>
    <script src='lib/js/factories/API.js'></script>
    <script src='lib/js/controllers/header.js'></script>
  </body>
</html>